.typeAhead {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}

.typeAhead ul {
    list-style-type: none;
    padding: 0;
    flex-basis: 100%;
    border: 1px solid #c9c9c9;
    margin: 0;
}

.typeAhead li {
    border: 1px solid #c9c9c9;
    padding: 5px;
}