.wrapper.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.wrapper-light {
    background-color: var(--blue-dark);
}

.wrapper-dark {
    background-color: var(--dark-dark);
}