.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../images/auth_bg.jpg');
    background-size: cover;
    position: relative;
}

.header h1 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-size: 3rem;
    color: #FFFFFF;
}

.arrow {
    position: absolute;
    bottom: 40px;
    left: 50%;
    color: #FFFFFF;
    transform: scale(3) translate(-50%);
    animation-duration: 3s;
    animation-name: arrow-movements;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    ;
}

@keyframes arrow-movements {
    0%, 100% {
        bottom: 20px;
    }
    50% {
        bottom: 60px;
    }
}

.ad {
    height: 300px;
    padding: 20px 60px;
}

.ad>div {
    height: 100%;
    background-color: var(--yellow);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #FFFFFF;
}

.top-cruises {
    margin: 20px 60px;
}

.h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--dark);
    margin-bottom: 2rem;
}

.cruises-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

