.wrapper.wrapper {
    height:100vh;
    justify-content: space-between;
}

.wrapper>* {
    height: 100%;
}

.wrapper h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 16px;
}

.menu.menu * {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.2rem;
}

.menu-light * {
    color: var(--white);
}

.menu-dark * {
    color: var(--dark);
}

.content {
    overflow-y: scroll;
    padding: 30px;
}

.content-light {
    color: var(--dark);
    background-color: var(--white);
}

.content-dark {
    color: var(--white);
    background-color: var(--dark);
}