.wrapper.wrapper {
    height: 100%;
    background-color: var(--blue);
}

.profile.profile {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--white);
}

.email {
    margin-top: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--white);
}