.minus, .plus {
    cursor: pointer;
    opacity: .7;
    transition: opacity .3s ease-out;
}

.minus {
    fill: var(--pink-dark);
}

.plus {
    fill: var(--green-dark);
}

.minus:hover,
.plus:hover {
    opacity: 1;
}