.wrapper {
    width: 100%;
    height: 100vh;
    background-image: url('/auth_bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    
    border-radius: 50px;
}

.h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: var(--pink);
    margin: 0;
}

.h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--dark);
    margin: 20px 0 40px 0;
}

.input.input {
    width: 75%;
    margin: 20px;
}

.button {
    width: 75%;
}