.wrapper.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    padding: 20px 60px;
    z-index: 3001;
}

.link {
    color: var(--white);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}